---
import "@/styles/global.css";
import HeroSection from "@/components/HeroSection.astro";
import Layout from "@/layouts/Layout.astro";
import qs from "qs";
import { getStrapiData } from "../lib/utils";

const homePageQuery = qs.stringify({
  populate: {
    blocks: {
      populate: {
        cover: {
          fields: ["url", "alternativeText"],
        },
        link: {
          populate: true,
        },
      },
    },
  },
});

const strapiData = await getStrapiData("/api/home-page", homePageQuery);
---

<Layout title={strapiData.title} description={strapiData.description}>
  <main>
    <HeroSection
      blocks={strapiData.blocks[0]}
    />
  </main>
</Layout>
